
<div data-ng-controller="HeaderController">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">
            <img src="hawtiotheme/assets/img/logo-sistcoop.svg" alt="OpenShift Origin">
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1" data-ng-controller="KeycloakAccountManagementController">
        <ul class="nav navbar-nav navbar-utility">
            <li>
                <a href="">
                    <span class="icon-info-sign icon-white"></span>
                    <strong>Mensajes: </strong>02
                </a>
            </li>
            <li>
                <a href=""><strong>Bienvenido </strong>{{user.username}}</a>
            </li>
            <li>
                <a href=""><strong>Rol: </strong>CAJERO</a>
            </li>
            <li class="dropdown" dropdown>
                <a href="#" class="dropdown" dropdown-toggle>
                    <span class="pficon pficon-user"></span>
                    <span class="username">{{user.fullName || user.metadata.name}}</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="keycloak.auth.accountManagement">Account</a>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="keycloak.auth.logout">Log out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <ul class="navbar-nav nav navbar-primary">
        <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ui-sref-active="active">
            <a ui-sref='{{item.link}}'>{{item.title}}</a>
        </li>
    </ul>

</div>
